@model List<eShopSolution.ViewModels.Catalog.Categories.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var languageId = CultureInfo.CurrentCulture.Name;
}
<div id="sidebar" class="span3">
    <div class="well well-small">
        <a id="myCart" href="/@languageId/cart">
            @*<img src="/themes/images/ico-cart.png" alt="cart">*@
            <i class="icon-shopping-cart icon-white"></i> 
            3 Items in your cart  
            <span class="badge badge-warning pull-right">
                $155.00
            </span>
        </a>
    </div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{
            var parents = Model.Where(x => x.ParentId == null);     
        }
        @for (int i = 0; i < parents.Count(); i++)
        {
            var parent = parents.ElementAt(i);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if(children.Any())
            {
                <li class="subMenu open">
                    <a> @parent.Name</a>
                    <ul>
                        @foreach (var item in children)
                        {
                            <li><a class="active" href="/@languageId/@_loc["categoryUrl"]/@item.Id"><i class="icon-chevron-right"></i>@item.Name</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a class="active" href="/@languageId/@_loc["categoryUrl"]/@parent.Id"><i class="icon-chevron-right"></i>@parent.Name</a></li>
            }
        }
    </ul>
    <br />
    <div class="thumbnail">
        <a href="#"><img src="https://localhost:5001/user-content/Ad Banner/B0FB29AE-84C6-4FE6-B46B-D228EAF857F5.png" alt="Bootshop panasonoc New camera" /></a>
        @*<div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="#"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>*@
    </div><br />
    <div class="thumbnail">
        <a href="#"><img src="https://localhost:5001/user-content/Ad Banner/C6BED9BD-D24F-40D8-8F5F-D18D0A068BC5.png" title="Bootshop New Kindel" alt="Bootshop Kindel"></a>
        @*<div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="#"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
        </div>*@
    </div><br />
    @*<div class="thumbnail">
        <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>*@
</div>
